{% extends 'base.html' %}

{% block content %}
<div class="query-div-data">
    <form action="{{url_for('query')}}" method="POST" enctype="multipart/form-data" >
        <div class="drop-area">
            <input type="file" class="file-input" accept=".xlsx,xls" title="仅支持xls,xlsx" name="query-input-uploaded_file">
            <button type="submit" class="query-div-button1" name="action" value="display">显示数据</button>
            <button type="submit" class="query-div-button2" name="action" value="save">保存数据</button>
        </div>
    </form>
</div>

<div class="file-list">
<button class="close-button" onclick="closeFileList()">关闭</button>
 {{ html_table_display|safe }}
</div>

{% endblock %}