body {
        background-image: url("../image/loging22.jpg"); /* 设置背景图片 再次出发，向心而行，致敬奔腾不息的力量*/
        background-size: cover; /* 设置背景图片大小适应容器 */
		}
		header {
			text-align: center;
			color: white;
			font-size: 15px;
			font-weight: bold;
			letter-spacing: 10px;
			text-transform: uppercase;
			background-size: cover;
			background-position: center;
		}

            .dody_login_id {
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                }


            .container {
                width: 13%;
                transform: translate(-60%, 50%);
                margin: auto;
                height: 201px;
                background-color: transparent;
                color: rgba(255, 255, 255, 1);
                opacity: 0.5;
                padding: 47px;
                box-shadow: 11px -9px 18px #536;
            }


            .login_hid {
                text-align: left;
                margin-bottom: -67px;
                font-size: 29px;
                line-height: 2.2;
                position: absolute;
                top: 4%;
                transform: translateY(-52%);
                }

            .lagin_form_id{


            }

		label {
			display: block; /* 设置标签为块级元素 */
			margin-bottom: 10px; /* 底部外边距为10px */
		}

		input[type="text"], input[type="password"] {
			display: block; /* 设置输入框为块级元素 */
			width: 100%; /* 设置输入框宽度为100% */
			padding: 10px; /* 设置输入框内边距为10px */
			margin-bottom: 20px; /* 底部外边距为20px */
			border-radius: 5px; /* 设置输入框圆角 */
			border: none; /* 去掉输入框边框 */
		}

		button {
			background-color: #4CAF50; /* 设置按钮背景颜色为绿色
			color: #fff; /* 设置按钮文字颜色 */
			padding: 10px 20px; /* 设置按钮内边距 */
			border-radius: 5px; /* 设置按钮圆角 */
			border: none; /* 去掉按钮边框 */
			cursor: pointer; /* 设置鼠标悬停样式 */
		}

		button:hover {
			background-color: #388E3C; /* 设置鼠标悬停时按钮背景颜色为深绿色 */
		}